NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SEPOLIA_RPC_URL=
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=
NEXT_PUBLIC_ARB_SEPOLIA_RPC_URL=
NEXT_PUBLIC_ZERODEV_PROJECT_ID=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
