NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ANVIL_URL=

NEXT_PUBLIC_ZD_PROJECT_ID=
NEXT_PUBLIC_ZD_OTP_PROJECT_ID=

NEXT_PUBLIC_KMS_PROXY_BASE_URL=
NEXT_PUBLIC_ZERODEV_AA_HOST=
NEXT_PUBLIC_DATA_API_BASE_URL=
